@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.h1_footer{
  color: #3885B7;
}
.footer  {
  border-top: 1px solid #5fb0e4;

}
#pagination ul li span{
  margin: 5px;
}
#pagination ul li a{
  border: 1px solid #5fb0e4;
  margin: 5px;
  color: #5fb0e4;
}
#pagination ul li.disabled span{
  border: 1px solid #5fb0e4;
  }
#pagination ul li.active span{
  background-color: #5fb0e4;
  border: 1px solid #5fb0e4;
  }
.btn-tag{
  margin-left: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-with-padding{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7.5px;
}
#nav_header ul li { display: inline; margin: 10px;}
.new-article{
  padding-top: 15px;
}

.btn{
  border-radius: 0px;
}

.add-padding{
  padding:  20px;
}
.image-tag{
  width: 100%;
  height: 270px;
}

.lead{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.checkbox-margin label{
  margin-right: 15.5px;
  padding-left: 5px;
}
@font-face {
  font-family: 'soukalisa';
  src: asset-url('soukalisa.ttf') format('truetype');
}

@font-face {
  font-family: 'opensans';
  src: asset-url('opensans.ttf') format('truetype');
}
@font-face {
  font-family: 'merri';
  src: asset-url('Merriweather-Regular.ttf') format('truetype');
}

.soukalisa{
  font-family: "soukalisa";
}

.title-post{
  font-family: "opensans";
}

p{
  font-family: Georgia,Times New Roman,serif;
  font-size: 16px;
  line-height: 23px;
  text-align: justify;

}

.add-margin{
  margin-top: 10px;
}


.littlespage{
  height: 5px;
}

.space15{
  height: 15px;
}
.space25{
  height: 25px;
}
.text
{
width: auto;
height: auto;
}

hr {
  border-top: 1px solid #5fb0e4;
}

.media{
  border-bottom: 1px solid #5fb0e4;
}

.wrapper {
  border-radius: 10px;
  z-index: 90;
  position: relative;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 22px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #5fb0e4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5fb0e4), to(#3498db));
  background-image: -webkit-linear-gradient(top, #5fb0e4, #3498db);
  background-image:    -moz-linear-gradient(top, #5fb0e4, #3498db);
  background-image:     -ms-linear-gradient(top, #5fb0e4, #3498db);
  background-image:      -o-linear-gradient(top, #5fb0e4, #3498db);
  color: #ecf0f1;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}


@media only screen and (max-width: 999px) {

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: -3px;
}

}
