.btn-vert1{
  background-color: #1abc9c;
}
.btn-vert2{
  background-color: #2ecc71;
}
.btn-blue1{
  background-color: #3498db;
}
.btn-move1{
  background-color: #9b59b6;
}
.btn-darkblue{
  background-color: #34495e;
}
.btn-vert3{
  background-color: #16a085;
}
.btn-vert4{
  background-color: #27ae60;
}
.btn-blue2{
  background-color: #2e8ece;
}
.btn-move2{
  background-color: #8e44ad;
}
.btn-darkblue2{
  background-color: #2c3e50;
}
.btn-carrot{
  background-color: #e67e22;
}
.btn-rouge{
  background-color: #e74c3c;
}

.white-color{
  color: #fff;
}
